In [1]:
import sqlite3
import csv
conn = sqlite3.connect("/home/pkosewski/python/pd4/ontime2.sql")

In [2]:
conn.execute("""
create table ontime (
  Year int,
  Month int,
  DayofMonth int,
  DayOfWeek int,
  DepTime  int,
  CRSDepTime int,
  ArrTime int,
  CRSArrTime int,
  UniqueCarrier varchar(5),
  FlightNum int,
  TailNum varchar(8),
  ActualElapsedTime int,
  CRSElapsedTime int,
  AirTime int,
  ArrDelay int,
  DepDelay int,
  Origin varchar(3),
  Dest varchar(3),
  Distance int,
  TaxiIn int,
  TaxiOut int,
  Cancelled int,
  CancellationCode varchar(1),
  Diverted varchar(1),
  CarrierDelay int,
  WeatherDelay int,
  NASDelay int,
  SecurityDelay int,
  LateAircraftDelay int
);
""")
conn.commit()

In [3]:
for i in range(1994,1995):
    filename = "data/" + str(i) + ".csv"
    print("Loading: "+filename+" ...")
    #with open(filename, encoding='latin1') as f:
    with open(filename, encoding='utf-8') as f:
                reader = csv.reader(f)
                next(reader, None)
                for field in reader:
                    conn.execute("INSERT INTO ontime VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
                                , field)
    print("Done")

Loading: data/1994.csv ...
Done

In [5]:
for i in range(2003,2009):
    filename = "data/" + str(i) + ".csv"
    print("Loading: "+filename+" ...")
    with open(filename, encoding='utf-8') as f:
                reader = csv.reader(f)
                next(reader, None)
                for field in reader:
                    conn.execute("INSERT INTO ontime VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
                                , field)
    print("Done")

Loading: data/2003.csv ...
Done
Loading: data/2004.csv ...
Done
Loading: data/2005.csv ...
Done
Loading: data/2006.csv ...
Done
Loading: data/2007.csv ...
Done
Loading: data/2008.csv ...
Done

In [6]:
conn.execute("""
create index year on ontime(year);
""")

conn.commit()

In [7]:
conn.execute("""
create index date on ontime(year, month, dayofmonth);
""")
conn.commit()

In [9]:
conn.execute("""
create index origin on ontime(origin);
""")
conn.commit()

In [10]:
conn.execute("""
create index dest on ontime(dest);
""")
conn.commit()

In [5]:
# test czy sie nie rozjechalo
cur = conn.execute("SELECT * FROM ontime LIMIT 3")
cur.fetchall()

[(1994,
  1,
  7,
  5,
  858,
  900,
  954,
  1003,
  'US',
  227,
  'NA',
  56,
  63,
  'NA',
  -9,
  -2,
  'CLT',
  'ORF',
  290,
  'NA',
  'NA',
  0,
  'NA',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA'),
 (1994,
  1,
  8,
  6,
  859,
  900,
  952,
  1003,
  'US',
  227,
  'NA',
  53,
  63,
  'NA',
  -11,
  -1,
  'CLT',
  'ORF',
  290,
  'NA',
  'NA',
  0,
  'NA',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA'),
 (1994,
  1,
  10,
  1,
  935,
  900,
  1023,
  1003,
  'US',
  227,
  'NA',
  48,
  63,
  'NA',
  20,
  35,
  'CLT',
  'ORF',
  290,
  'NA',
  'NA',
  0,
  'NA',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA')]

In [12]:
conn.close()