In [1]:
import sqlite3
import csv
conn = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

In [1]:
#import sqlite3
#import csv
#conn = sqlite3.connect("/home/pkosewski/python/pd4/databases/processed.sql")

In [4]:
conn.execute("""
CREATE TABLE num_filghts_d AS 
    SELECT ontime.year            AS year,
            ontime.month          AS month,
            ontime.DayofMonth     AS day,
            origin.latitude_deg   AS origin_lat, 
            origin.longitude_deg  AS origin_lon, 
            origin.name           AS origin_name, 
            dest.latitude_deg     AS dest_lat, 
            dest.longitude_deg    AS dest_lon, 
            dest.name             AS dest_name, 
            Count(*)              AS number_of_flights 
    FROM ontime 
    LEFT JOIN airports AS origin ON ontime.Origin == origin.iata
    LEFT JOIN airports AS dest   ON ontime.Dest   == dest.iata
    GROUP BY ontime.year,
            ontime.month,
            ontime.DayofMonth,
            ontime.Origin,
            ontime.Dest;
""")
conn.commit()

In [7]:
conn.execute("""
CREATE TABLE num_filghts_m AS 
    SELECT ontime.year            AS year,
            ontime.month          AS month,
            origin.latitude_deg   AS origin_lat, 
            origin.longitude_deg  AS origin_lon, 
            origin.name           AS origin_name, 
            dest.latitude_deg     AS dest_lat, 
            dest.longitude_deg    AS dest_lon, 
            dest.name             AS dest_name, 
            Count(*)              AS number_of_flights 
    FROM ontime 
    LEFT JOIN airports AS origin ON ontime.Origin == origin.iata
    LEFT JOIN airports AS dest   ON ontime.Dest   == dest.iata
    GROUP BY ontime.year,
            ontime.month,
            ontime.Origin,
            ontime.Dest;
""")
conn.commit()

In [10]:
cur = conn.execute("""
SELECT * FROM num_filghts_d LIMIT 1
""")
cur.fetchall()

[(1987,
  10,
  1,
  40.652099609375,
  -75.44080352783203,
  'Lehigh Valley International Airport',
  33.63669967651367,
  -84.4281005859375,
  'Hartsfield Jackson Atlanta International Airport',
  2)]

In [11]:
cur = conn.execute("""
SELECT * FROM num_filghts_m LIMIT 1
""")
cur.fetchall()

[(1987,
  10,
  40.652099609375,
  -75.44080352783203,
  'Lehigh Valley International Airport',
  33.63669967651367,
  -84.4281005859375,
  'Hartsfield Jackson Atlanta International Airport',
  60)]

In [12]:
cur = conn.execute("""
SELECT count(*) FROM num_filghts_d
""")
cur.fetchall()

[(25352185,)]

In [13]:
cur = conn.execute("""
SELECT count(*) FROM num_filghts_m
""")
cur.fetchall()

[(861628,)]

In [14]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('ontime',), ('airports_all',), ('airports',), ('num_filghts_d',), ('num_filghts_m',)]

In [15]:
# tabele wynikowe
import pandas as pd
import sqlite3

conn_processed = sqlite3.connect("/home/pkosewski/python/pd4/databases/processed.sql")
conn           = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from num_filghts_d", conn)

# Write the new DataFrame to a new SQLite table
df.to_sql("num_filghts_d", conn_processed, if_exists="replace")

conn.close()
conn_processed.close()

MemoryError:

In [16]:
# tabele wynikowe
import pandas as pd
import sqlite3

conn_processed = sqlite3.connect("/home/pkosewski/python/pd4/databases/processed.sql")
conn           = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from num_filghts_m", conn)

# Write the new DataFrame to a new SQLite table
df.to_sql("num_filghts_m", conn_processed, if_exists="replace")

conn.close()
conn_processed.close()

In [2]:
cur = conn.execute("""
SELECT COUNT(*) FROM airports
""")
cur.fetchall()

[(9103,)]

# Mean departure delay

In [4]:
conn.execute("""
CREATE TABLE US_filghts_dep_delay AS 
    SELECT ontime.year                              AS year,
            ontime.month                            AS month,
            origin.latitude_deg                     AS origin_lat, 
            origin.longitude_deg                    AS origin_lon, 
            origin.name                             AS origin_name, 
            ontime.Origin                           AS origin_id, 
            dest.latitude_deg                       AS dest_lat, 
            dest.longitude_deg                      AS dest_lon, 
            dest.name                               AS dest_name,
            ontime.Dest                             AS dest_id, 
            AVG(ontime.DepDelay)                    AS DepDelay, 
            AVG(ontime.ArrDelay - ontime.DepDelay)  AS delay_gain 
    FROM ontime 
    LEFT JOIN airports AS origin ON ontime.Origin == origin.iata
    LEFT JOIN airports AS dest   ON ontime.Dest   == dest.iata
    WHERE origin.country == 'US' AND dest.country == 'US' 
    GROUP BY ontime.year,
            ontime.month,
            ontime.Origin,
            ontime.Dest
""")
conn.commit()

In [5]:
cur = conn.execute("""
SELECT COUNT(*) FROM US_filghts_dep_delay
""")
cur.fetchall()

[(680007,)]

In [6]:
cur = conn.execute("""
SELECT COUNT(*) FROM US_filghts_dep_delay where DepDelay > 15
""")
cur.fetchall()

[(82297,)]

In [8]:
cur = conn.execute("""
Select count(*) From (
           SELECT origin_name FROM US_filghts_dep_delay group by origin_name
           )
""")
cur.fetchall()

[(133,)]

In [3]:
conn.execute("""
CREATE TABLE US_filghts_dep_delay_Y AS 
    SELECT ontime.year                              AS year,
            origin.latitude_deg                     AS origin_lat, 
            origin.longitude_deg                    AS origin_lon, 
            origin.name                             AS origin_name, 
            ontime.Origin                           AS origin_id, 
            dest.latitude_deg                       AS dest_lat, 
            dest.longitude_deg                      AS dest_lon, 
            dest.name                               AS dest_name,
            ontime.Dest                             AS dest_id,
            COUNT(*)                                AS number_of_flights,
            SUM(ontime.DepDelay > 15)               AS delay_over_15,
            AVG(ontime.DepDelay)                    AS DepDelay, 
            AVG(ontime.ArrDelay - ontime.DepDelay)  AS delay_gain 
    FROM ontime 
    LEFT JOIN airports AS origin ON ontime.Origin == origin.iata
    LEFT JOIN airports AS dest   ON ontime.Dest   == dest.iata
    WHERE origin.country == 'US' AND dest.country == 'US' 
    GROUP BY ontime.year,
            ontime.Origin,
            ontime.Dest
""")
conn.commit()

In [2]:
conn.execute("""
DROP TABLE US_filghts_dep_delay_Y 
""")
conn.commit()

In [4]:
cur = conn.execute("""
SELECT * FROM US_filghts_dep_delay_Y where year == 2000 AND dest_id == 'JFK'
""")
cur.fetchall()

[(2000,
  33.63669967651367,
  -84.4281005859375,
  'Hartsfield Jackson Atlanta International Airport',
  'ATL',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1205,
  238,
  12.774273858921163,
  0.13692946058091288),
 (2000,
  41.9388999939,
  -72.68319702149999,
  'Bradley International Airport',
  'BDL',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  175,
  25,
  0.9485714285714286,
  12.742857142857142),
 (2000,
  42.36429977,
  -71.00520325,
  'General Edward Lawrence Logan International Airport',
  'BOS',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1997,
  566,
  13.111166750125188,
  1.3475212819228843),
 (2000,
  39.0488014221,
  -84.6678009033,
  'Cincinnati Northern Kentucky International Airport',
  'CVG',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  830,
  151,
  12.398795180722892,
  2.4542168674698797),
 (2000,
  38.8521,
  -77.037697,
  'Ronald Reagan Washington National Airport',
  'DCA',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  703,
  126,
  9.812233285917497,
  -0.051209103840682786),
 (2000,
  39.861698150635,
  -104.672996521,
  'Denver International Airport',
  'DEN',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  364,
  71,
  10.219780219780219,
  -4.271978021978022),
 (2000,
  32.89680099487305,
  -97.03800201416016,
  'Dallas Fort Worth International Airport',
  'DFW',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  730,
  138,
  10.094520547945205,
  -3.5931506849315067),
 (2000,
  42.212398529052734,
  -83.35340118408203,
  'Detroit Metropolitan Wayne County Airport',
  'DTW',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1413,
  381,
  12.615003538570418,
  -2.6581740976645434),
 (2000,
  26.072599411010742,
  -80.15270233154297,
  'Fort Lauderdale Hollywood International Airport',
  'FLL',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1241,
  320,
  15.622078968573732,
  -4.9411764705882355),
 (2000,
  29.984399795532227,
  -95.34140014648438,
  'George Bush Intercontinental Houston Airport',
  'IAH',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  360,
  51,
  6.677777777777778,
  -9.241666666666667),
 (2000,
  36.08010101,
  -115.1520004,
  'McCarran International Airport',
  'LAS',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  2282,
  747,
  17.27344434706398,
  1.2414548641542507),
 (2000,
  33.94250107,
  -118.4079971,
  'Los Angeles International Airport',
  'LAX',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  9271,
  1981,
  11.380002157264588,
  -1.9319383022327687),
 (2000,
  28.429399490356445,
  -81.30899810791016,
  'Orlando International Airport',
  'MCO',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  2329,
  399,
  10.436668097896092,
  -2.6848432803778444),
 (2000,
  25.79319953918457,
  -80.29060363769531,
  'Miami International Airport',
  'MIA',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  3271,
  744,
  16.9040048914705,
  -3.7380006114338125),
 (2000,
  44.881999969499994,
  -93.22180175780001,
  'Minneapolis-St Paul International/Wold-Chamberlain Airport',
  'MSP',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  245,
  58,
  9.43673469387755,
  3.583673469387755),
 (2000,
  29.99340057373047,
  -90.25800323486328,
  'Louis Armstrong New Orleans International Airport',
  'MSY',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  351,
  40,
  6.823361823361823,
  -2.6381766381766383),
 (2000,
  41.97859955,
  -87.90480042,
  "Chicago O'Hare International Airport",
  'ORD',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  323,
  74,
  13.13312693498452,
  -9.532507739938081),
 (2000,
  26.68320083618164,
  -80.09559631347656,
  'Palm Beach International Airport',
  'PBI',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  333,
  60,
  9.42042042042042,
  -2.3633633633633635),
 (2000,
  45.58869934,
  -122.5979996,
  'Portland International Airport',
  'PDX',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  364,
  28,
  2.340659340659341,
  -4.082417582417582),
 (2000,
  39.87189865112305,
  -75.24109649658203,
  'Philadelphia International Airport',
  'PHL',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  295,
  63,
  4.779661016949152,
  2.23728813559322),
 (2000,
  33.43429946899414,
  -112.01200103759766,
  'Phoenix Sky Harbor International Airport',
  'PHX',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1456,
  387,
  14.86195054945055,
  0.885989010989011),
 (2000,
  32.7336006165,
  -117.190002441,
  'San Diego International Airport',
  'SAN',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  856,
  93,
  5.807242990654205,
  -7.26285046728972),
 (2000,
  29.533700942993164,
  -98.46980285644531,
  'San Antonio International Airport',
  'SAT',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1,
  1,
  169.0,
  26.0),
 (2000,
  47.44900131225586,
  -122.30899810791016,
  'Seattle Tacoma International Airport',
  'SEA',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  916,
  99,
  5.348253275109171,
  -4.291484716157205),
 (2000,
  37.61899948120117,
  -122.375,
  'San Francisco International Airport',
  'SFO',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  5929,
  1152,
  10.4860853432282,
  -2.953280485748018),
 (2000,
  37.362598,
  -121.929001,
  'Norman Y. Mineta San Jose International Airport',
  'SJC',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  762,
  118,
  6.405511811023622,
  -6.384514435695538),
 (2000,
  40.78839874267578,
  -111.97799682617188,
  'Salt Lake City International Airport',
  'SLC',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  973,
  119,
  7.324768756423433,
  -0.49743062692702983),
 (2000,
  33.67570114,
  -117.8679962,
  'John Wayne Airport-Orange County Airport',
  'SNA',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  60,
  6,
  4.0,
  1.6666666666666667),
 (2000,
  38.748697,
  -90.370003,
  'St Louis Lambert International Airport',
  'STL',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  1483,
  374,
  14.23937963587323,
  -2.186109238031018),
 (2000,
  27.975500106811523,
  -82.533203125,
  'Tampa International Airport',
  'TPA',
  40.63980103,
  -73.77890015,
  'John F Kennedy International Airport',
  'JFK',
  702,
  102,
  9.217948717948717,
  -2.685185185185185)]

In [10]:
cur = conn.execute("""
SELECT dest_id, dest_name FROM US_filghts_dep_delay_Y group by dest_id order by number_of_flights
""")
cur.fetchall()

[('AMA', 'Rick Husband Amarillo International Airport'),
 ('BFI', 'Boeing Field King County International Airport'),
 ('CBM', 'Columbus Air Force Base'),
 ('CHS', 'Charleston Air Force Base-International Airport'),
 ('GRB', 'Austin Straubel International Airport'),
 ('LBB', 'Lubbock Preston Smith International Airport'),
 ('MCI', 'Kansas City International Airport'),
 ('MGM', 'Montgomery Regional (Dannelly Field) Airport'),
 ('MSN', 'Dane County Regional Truax Field'),
 ('OKC', 'Will Rogers World Airport'),
 ('PIA', 'General Wayne A. Downing Peoria International Airport'),
 ('RFD', 'Chicago Rockford International Airport'),
 ('SAV', 'Savannah Hilton Head International Airport'),
 ('SKA', 'Fairchild Air Force Base'),
 ('SPI', 'Abraham Lincoln Capital Airport'),
 ('LGA', 'La Guardia Airport'),
 ('AUS', 'Austin Bergstrom International Airport'),
 ('DSM', 'Des Moines International Airport'),
 ('AGS', 'Augusta Regional At Bush Field'),
 ('BGR', 'Bangor International Airport'),
 ('SRQ', 'Sarasota Bradenton International Airport'),
 ('TRI', 'Tri-Cities Regional TN/VA Airport'),
 ('HNL', 'Daniel K Inouye International Airport'),
 ('FAI', 'Fairbanks International Airport'),
 ('PHF', 'Newport News Williamsburg International Airport'),
 ('IAD', 'Washington Dulles International Airport'),
 ('CVG', 'Cincinnati Northern Kentucky International Airport'),
 ('SUX', 'Sioux Gateway Col. Bud Day Field'),
 ('MCO', 'Orlando International Airport'),
 ('JFK', 'John F Kennedy International Airport'),
 ('GEG', 'Spokane International Airport'),
 ('DAB', 'Daytona Beach International Airport'),
 ('HTS', 'Tri-State/Milton J. Ferguson Field'),
 ('MKE', 'General Mitchell International Airport'),
 ('DAY', 'James M Cox Dayton International Airport'),
 ('CLT', 'Charlotte Douglas International Airport'),
 ('MOB', 'Mobile Regional Airport'),
 ('JAN', 'Jackson-Medgar Wiley Evers International Airport'),
 ('SHV', 'Shreveport Regional Airport'),
 ('BTR', 'Baton Rouge Metropolitan, Ryan Field'),
 ('RNO', 'Reno Tahoe International Airport'),
 ('ORD', "Chicago O'Hare International Airport"),
 ('VPS', 'Destin-Ft Walton Beach Airport'),
 ('SAT', 'San Antonio International Airport'),
 ('TLH', 'Tallahassee Regional Airport'),
 ('TPA', 'Tampa International Airport'),
 ('SNA', 'John Wayne Airport-Orange County Airport'),
 ('OAK', 'Metropolitan Oakland International Airport'),
 ('SYR', 'Syracuse Hancock International Airport'),
 ('PWM', 'Portland International Jetport Airport'),
 ('AVL', 'Asheville Regional Airport'),
 ('MSP', 'Minneapolis-St Paul International/Wold-Chamberlain Airport'),
 ('SFO', 'San Francisco International Airport'),
 ('GPT', 'Gulfport Biloxi International Airport'),
 ('ORF', 'Norfolk International Airport'),
 ('ROC', 'Greater Rochester International Airport'),
 ('SGF', 'Springfield Branson National Airport'),
 ('RIC', 'Richmond International Airport'),
 ('RSW', 'Southwest Florida International Airport'),
 ('IAH', 'George Bush Intercontinental Houston Airport'),
 ('COS', 'City of Colorado Springs Municipal Airport'),
 ('SEA', 'Seattle Tacoma International Airport'),
 ('SMF', 'Sacramento International Airport'),
 ('TUS', 'Tucson International Airport'),
 ('ONT', 'Ontario International Airport'),
 ('ANC', 'Ted Stevens Anchorage International Airport'),
 ('FSM', 'Fort Smith Regional Airport'),
 ('SDF', 'Louisville International Standiford Field'),
 ('CLE', 'Cleveland Hopkins International Airport'),
 ('DEN', 'Denver International Airport'),
 ('HSV', 'Huntsville International Carl T Jones Field'),
 ('ROA', 'Roanokeâ\x80\x93Blacksburg Regional Airport'),
 ('MLU', 'Monroe Regional Airport'),
 ('EWR', 'Newark Liberty International Airport'),
 ('LIT', 'Bill & Hillary Clinton National Airport/Adams Field'),
 ('ICT', 'Wichita Mid Continent Airport'),
 ('CRW', 'Yeager Airport'),
 ('ABQ', 'Albuquerque International Sunport Airport'),
 ('MDW', 'Chicago Midway International Airport'),
 ('BUF', 'Buffalo Niagara International Airport'),
 ('MHT', 'Manchester Airport'),
 ('CHA', 'Lovell Field'),
 ('CRP', 'Corpus Christi International Airport'),
 ('GSO', 'Piedmont Triad International Airport'),
 ('STL', 'St Louis Lambert International Airport'),
 ('TUL', 'Tulsa International Airport'),
 ('CMH', 'Port Columbus International Airport'),
 ('CPR', 'Casper-Natrona County International Airport'),
 ('JAX', 'Jacksonville International Airport'),
 ('MEM', 'Memphis International Airport'),
 ('BHM', 'Birmingham-Shuttlesworth International Airport'),
 ('RDU', 'Raleigh Durham International Airport'),
 ('MSY', 'Louis Armstrong New Orleans International Airport'),
 ('PIT', 'Pittsburgh International Airport'),
 ('BDL', 'Bradley International Airport'),
 ('DLH', 'Duluth International Airport'),
 ('HOU', 'William P Hobby Airport'),
 ('GSP', 'Greenville Spartanburg International Airport'),
 ('TOL', 'Toledo Express Airport'),
 ('MBS', 'MBS International Airport'),
 ('DBQ', 'Dubuque Regional Airport'),
 ('PBI', 'Palm Beach International Airport'),
 ('CAE', 'Columbia Metropolitan Airport'),
 ('ERI', 'Erie International Tom Ridge Field'),
 ('SAN', 'San Diego International Airport'),
 ('PDX', 'Portland International Airport'),
 ('DTW', 'Detroit Metropolitan Wayne County Airport'),
 ('SLC', 'Salt Lake City International Airport'),
 ('DCA', 'Ronald Reagan Washington National Airport'),
 ('IND', 'Indianapolis International Airport'),
 ('BNA', 'Nashville International Airport'),
 ('BOS', 'General Edward Lawrence Logan International Airport'),
 ('MIA', 'Miami International Airport'),
 ('SPS', 'Sheppard Air Force Base-Wichita Falls Municipal Airport'),
 ('BIL', 'Billings Logan International Airport'),
 ('LEX', 'Blue Grass Airport'),
 ('DFW', 'Dallas Fort Worth International Airport'),
 ('BMI', 'Central Illinois Regional Airport at Bloomington-Normal'),
 ('TYS', 'McGhee Tyson Airport'),
 ('LAS', 'McCarran International Airport'),
 ('SBN', 'South Bend Regional Airport'),
 ('DAL', 'Dallas Love Field'),
 ('RST', 'Rochester International Airport'),
 ('MLI', 'Quad City International Airport'),
 ('LFT', 'Lafayette Regional Airport'),
 ('FWA', 'Fort Wayne International Airport'),
 ('ATL', 'Hartsfield Jackson Atlanta International Airport'),
 ('FLL', 'Fort Lauderdale Hollywood International Airport'),
 ('BOI', 'Boise Air Terminal/Gowen field'),
 ('PHL', 'Philadelphia International Airport'),
 ('BWI', 'Baltimore/Washington International Thurgood Marshall Airport'),
 ('PHX', 'Phoenix Sky Harbor International Airport'),
 ('CID', 'The Eastern Iowa Airport'),
 ('LAX', 'Los Angeles International Airport'),
 ('SJC', 'Norman Y. Mineta San Jose International Airport')]

In [5]:
# tabele wynikowe
import pandas as pd
import sqlite3

conn_processed = sqlite3.connect("/home/pkosewski/python/pd4/databases/map.sql")
conn           = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from airports", conn)

# Write the new DataFrame to a new SQLite table
df.to_sql("airports", conn_processed, if_exists="replace")

conn.close()
conn_processed.close()

In [4]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("/home/pkosewski/python/pd4/databases/map.sql")


cur = conn.execute("""
SELECT count(*) FROM US_filghts_dep_delay_Y
""")
cur.fetchall()

[(64078,)]

# Daily patterns

In [1]:
import pandas as pd
import sqlite3

conn_processed = sqlite3.connect("/home/pkosewski/python/pd4/databases/processed.sql")
conn           = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

In [5]:
conn.execute("""
DROP TABLE Arr_Delays_vs_time_h
""")
conn.commit()

In [7]:
conn.execute("""
CREATE TABLE Arr_Delays_vs_time_h AS 
    SELECT  CASE 
               WHEN ontime.DepTime == 2400 
                  THEN 0
                  ELSE ontime.DepTime 
            END                                     AS time,
            ontime.UniqueCarrier                    AS UniqueCarrier, 
            COUNT(*)                                AS number_of_flights,
            AVG(ontime.DepDelay)                    AS DepDelay, 
            AVG(ontime.ArrDelay)                    AS ArrDelay 
    FROM ontime
    WHERE ontime.DepTime IS NOT NULL           AND
            typeof(ontime.DepTime) = "integer" AND
            ontime.DepTime % 100 < 60          AND
            ontime.DepTime <= 2400
    GROUP BY time,
            ontime.UniqueCarrier
    HAVING DepDelay IS NOT NULL                AND
            ArrDelay IS NOT NULL
    ORDER BY  UniqueCarrier, time
""")
conn.commit()

In [4]:
cur = conn.execute("""
SELECT count(*) FROM Arr_Delays_vs_time_h
""")
cur.fetchall()

[(38662,)]

In [8]:
cur = conn.execute("""
select count(*) From (
SELECT UniqueCarrier FROM Arr_Delays_vs_time_h group by UniqueCarrier
)
""")
cur.fetchall()

[(29,)]

In [21]:
cur = conn.execute("""
SELECT UniqueCarrier FROM Arr_Delays_vs_time_h group by UniqueCarrier
""")
x = cur.fetchall()
for y in x: 
    p = str(y)
    print(p)

('9E',)
('AA',)
('AQ',)
('AS',)
('B6',)
('CO',)
('DH',)
('DL',)
('EA',)
('EV',)
('F9',)
('FL',)
('HA',)
('HP',)
('ML (1)',)
('MQ',)
('NW',)
('OH',)
('OO',)
('PA (1)',)
('PI',)
('PS',)
('TW',)
('TZ',)
('UA',)
('US',)
('WN',)
('XE',)
('YV',)

In [5]:
conn.execute("""
DROP TABLE Arr_Delays_vs_time_h24102007
""")
conn.commit()

In [6]:
conn.execute("""
CREATE TABLE Arr_Delays_vs_time_h24102007 AS 
    SELECT  CASE 
               WHEN ontime.CRSDepTime == 2400 
                  THEN 0
                  ELSE ontime.CRSDepTime 
            END                                     AS time,
            ontime.UniqueCarrier                    AS UniqueCarrier, 
            COUNT(*)                                AS number_of_flights,
            AVG(ontime.ArrDelay)                    AS ArrDelay 
    FROM ontime
    WHERE ontime.CRSDepTime IS NOT NULL           AND
            typeof(ontime.CRSDepTime) = "integer" AND
            ontime.CRSDepTime % 100 < 60          AND
            ontime.CRSDepTime <= 2400             AND
            ontime.year == 2007                AND
            ontime.month == 10                 AND
            ontime.DayofMonth == 24
    GROUP BY time, ontime.UniqueCarrier
    HAVING ArrDelay IS NOT NULL
    ORDER BY  UniqueCarrier, time
""")
conn.commit()

In [3]:
cur = conn.execute("""
SELECT count(*) FROM Arr_Delays_vs_time_h24102007
""")
cur.fetchall()

[(11037,)]

In [1]:
# tabele wynikowe
import pandas as pd
import sqlite3

conn_processed = sqlite3.connect("/home/pkosewski/python/pd4/databases/hours.sql")
conn           = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from Arr_Delays_vs_time_h24102007", conn)

# Write the new DataFrame to a new SQLite table
df.to_sql("Arr_Delays_vs_time_h24102007", conn_processed, if_exists="replace")

conn.close()
conn_processed.close()

In [2]:
# tabele wynikowe
import pandas as pd
import sqlite3

conn_processed = sqlite3.connect("/home/pkosewski/python/pd4/databases/hours.sql")
conn           = sqlite3.connect("/home/pkosewski/python/pd4/databases/flights_full.sql")

# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from Arr_Delays_vs_time_h", conn)

# Write the new DataFrame to a new SQLite table
df.to_sql("Arr_Delays_vs_time_h", conn_processed, if_exists="replace")

conn.close()
conn_processed.close()