In [1]:
import sqlite3
import csv
conn = sqlite3.connect("databases/flights_full.sql")

# Flights

In [2]:
conn.execute("""
create table ontime (
  Year int,
  Month int,
  DayofMonth int,
  DayOfWeek int,
  DepTime  int,
  CRSDepTime int,
  ArrTime int,
  CRSArrTime int,
  UniqueCarrier varchar(5),
  FlightNum int,
  TailNum varchar(8),
  ActualElapsedTime int,
  CRSElapsedTime int,
  AirTime int,
  ArrDelay int,
  DepDelay int,
  Origin varchar(3),
  Dest varchar(3),
  Distance int,
  TaxiIn int,
  TaxiOut int,
  Cancelled int,
  CancellationCode varchar(1),
  Diverted varchar(1),
  CarrierDelay int,
  WeatherDelay int,
  NASDelay int,
  SecurityDelay int,
  LateAircraftDelay int
);
""")
conn.commit()

In [3]:
for i in range(1987,2009):
    filename = "data_csv/" + str(i) + ".csv"
    print("Loading: "+filename+" ...")
    with open(filename, encoding='latin1') as f:
    #with open(filename, encoding='utf-8') as f:
                reader = csv.reader(f)
                next(reader, None)
                for field in reader:
                    conn.execute("INSERT INTO ontime VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
                                , field)
    print("Done")

Loading: data/1987.csv ...
Done
Loading: data/1988.csv ...
Done
Loading: data/1989.csv ...
Done
Loading: data/1990.csv ...
Done
Loading: data/1991.csv ...
Done
Loading: data/1992.csv ...
Done
Loading: data/1993.csv ...
Done
Loading: data/1994.csv ...
Done
Loading: data/1995.csv ...
Done
Loading: data/1996.csv ...
Done
Loading: data/1997.csv ...
Done
Loading: data/1998.csv ...
Done
Loading: data/1999.csv ...
Done
Loading: data/2000.csv ...
Done
Loading: data/2001.csv ...
Done
Loading: data/2002.csv ...
Done
Loading: data/2003.csv ...
Done
Loading: data/2004.csv ...
Done
Loading: data/2005.csv ...
Done
Loading: data/2006.csv ...
Done
Loading: data/2007.csv ...
Done
Loading: data/2008.csv ...
Done

In [4]:
conn.execute("""
create index year on ontime(year);
""")

conn.commit()

In [5]:
conn.execute("""
create index date on ontime(year, month, dayofmonth);
""")
conn.commit()

In [6]:
conn.execute("""
create index origin on ontime(origin);
""")
conn.commit()

In [8]:
conn.execute("""
create index dest on ontime(dest);
""")
conn.commit()

In [10]:
conn.close()

# Airports

In [12]:
import sqlite3
import csv
conn = sqlite3.connect("databases/flights_full.sql")

In [10]:
conn.execute("""
create table airports_all (
  id int,
  ident type varchar(20),
  type varchar(20),
  name varchar(50),
  latitude_deg float,
  longitude_deg float,
  elevation_ft int,
  continent varchar(2),
  iso_country varchar(2),
  iso_region varchar(5),
  municipality varchar(40),
  scheduled_service varchar(3),
  gps_code varchar(5),
  iata_code varchar(5),
  local_code varchar(5),
  home_link  varchar(255),
  wikipedia_link varchar(255),
  keywords varchar(255)
);
""")
conn.commit()

In [11]:
filename = "data_csv/airports.csv"
print("Loading: "+filename+" ...")
with open(filename, encoding='latin1') as f:
#with open(filename, encoding='utf-8') as f:
            reader = csv.reader(f)
            next(reader, None)
            for field in reader:
                conn.execute("INSERT INTO airports_all VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
                            , field)
print("Done")
conn.commit()

Loading: data/airports.csv ...
Done

In [14]:
#conn.execute("""
#drop table airports
#""")
#conn.commit()

In [15]:
conn.execute("""
CREATE TABLE airports AS 
             SELECT iata_code as iata, iso_country AS country, name, latitude_deg, longitude_deg, elevation_ft 
             FROM airports_all 
             WHERE iata_code<>'' AND type == 'large_airport'
""")
conn.commit()

In [16]:
# test czy sie nie rozjechalo
cur = conn.execute("SELECT * FROM airports Where iata = 'JFK'")
cur.fetchall()

[('JFK',
  'US',
  'John F Kennedy International Airport',
  40.63980103,
  -73.77890015,
  13)]